<!DOCTYPE html>
<html class="public">
    <head>
      {% block header %}
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>3WA Restaurant</title>
        <!-- <link rel="stylesheet" href="<?= $wwwUrl ?>/css/normalize-3.0.3.min.css"> -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize-3.0.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize-3.0.3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/font-awesome-4.3.0.min.css') }}">
        <!-- Feuilles de styles de l'application -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/3wa-resto.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ui-button.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ui-form.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/ui-table.css') }}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
        <!-- Librairie jQuery -->
        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <!-- JavaScript de l'application -->
        <script src="{{ asset('/js/utilities.js') }}"></script>
        {% endblock %}
    </head>
    <body>
      <main>
        <ul>
            <li><a href="{{ path('carte_panier_check')}}">Voir le panier</a></li>
            <li><a href="#">Valider ma commande</a></li>
            <li><a href="{{ asset('http://localhost/restaurant/web/app_dev.php/carte/') }}">Voir la liste des plats</a></li>
            <li><a href="#">Gérer mon profil</a></li>
        </ul>
        {% block body %}
        <h1>
          <img src="{{ asset('bundles/app/images/logo.gif') }}" height="63" width="57" alt="3WA Restaurant">Restaurant - Made In America !
        </h1>
        {% endblock %}
      </main>
    <footer>
      {% block footer %}
      <ul class="link-list">
          <li><img src="{{ asset('bundles/app/images/payment/visa.png') }}" alt="Visa"></li>
          <li><img src="{{ asset('bundles/app/images/payment/mastercard.png') }}" alt="MasterCard"></li>
          <li><img src="{{ asset('bundles/app/images/payment/paypal.png') }}" alt="PayPal"></li>
      </ul>
      {% endblock %}
    </footer>
    {% block javascripts %}
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock %}
  </body>
</html>
